div{
    width: 40%;
    height: 90%;
    background-image: linear-gradient(lime 40%, Darkgreen 20%);
}
html{
    background-image: linear-gradient(lime 40%, green 50%);
}
.box{
    color: lime;
}
.box2{
    color: lime;
}
